**.properties linguist-detectable
**.properties linguist-language=Java-Properties

**.json linguist-detectable=true

**.mcmeta linguist-detectable
**.mcmeta linguist-language=JSON

assets/betterleaves/** linguist-vendored=true
assets/minecraft/blockstates/*.json linguist-vendored=true
assets/minecraft/models/block/*leaves*.json linguist-vendored=true