**.properties linguist-detectable
**.properties linguist-language=Java-Properties

**.json linguist-detectable
assets/minecraft/blockstates/*.json linguist-vendored
assets/minecraft/blockstates/block/*.json linguist-vendored