**.properties linguist-detectable
**.properties linguist-language=Java-Properties

**.json linguist-detectable
assets/minecraft/blockstates/*.json linguist-vendored=true
assets/minecraft/models/block/*.json linguist-vendored=true
assets/Minecraft/models/block/*nothing*.json linguist-vendored=false

**.mcmeta linguist-detectable
**.mcmeta linguist-language=JSON